@import 'colors.scss';

.no-margin-padding {
    margin: 0;
    padding: 0;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 500;
}
.thin {
    font-weight: 200;
}
.archivo {
    font-family: 'Archivo', 'sans-serif';
}
.fg {
    color: $colorFaceitFg;
}
.hl {
    color: $colorECLHigh;
}

.block {
    display: block;
}
.margin {
    margin: 0.5rem;
}
.padding {
    padding: 0.5rem;
}
.center {
    text-align: center;
}

.round-edges {
    border-radius: 10px;
}