@import 'colors.scss';

#has-not-authed-section {
    background: $colorFaceitBgLight;
    text-align: center;
    h2 {
        color: $colorECLHigh;
        padding: 1rem;
        padding-bottom: 0;
    }
    display: none;
}
