@import 'colors.scss';
@import 'helpers.scss';
@import 'vars.scss';


body {
    padding: 0;
    margin: 0;
    background-color: $colorFaceitBg;
    color: $colorFaceitFg;
    font-family: sans-serif;
    font-size: 13px;
    width: $sizeOfEclLogo * 2;
}

img {
    pointer-events: none;
}

a {
    color: $colorECLHigh;
}
iframe {
    border: none;
}

@import 'about_section.scss';
@import 'not_authed_yet.scss';
